.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    // display: grid;
    // grid-template-columns: 70px auto 70px;
    // grid-auto-rows: 60px;
    // justify-items: center;
    background-color: #BEBEBE;
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    border-bottom: 2px solid #676767;
    border-right: 2px solid #676767;
    padding-left: 20px;
    padding-right: 20px;
}

.item1 {
    // align-self: start;
    width: 70px;
}

.item2 {
    // align-self: center;
}

.item3 {
    // align-self: end;
    width: 70px;
    display: flex;
    align-items: flex-end;
}
