.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.normal {
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    border-bottom: 2px solid #676767;
    border-right: 2px solid #676767;
    background-color: #BEBEBE;
}

.mouseDown {
    border-top: 2px solid #676767;
    border-left: 2px solid #676767;
    border-bottom: 2px solid #E3E3E3;
    border-right: 2px solid #E3E3E3;
    background-color: #BEBEBE;
}

.opened {
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    border-bottom: 2px solid #676767;
    border-right: 2px solid #676767;
    background-color: #FFFFFF;
}

.one {
    color: #FF0000;
}

.two {
    color: #00CD00;
}

.three {
    color: #0000FF;
}

.four {
    color: #A020F0;
}

.five {
    color: #B9BB64;
}

.six {
    color: #F0B820;
}

.seven {
    color: #5B74A3;
}

.eight {
    color: #A5A5A5;
}
