.borderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: #BEBEBE;
    padding: 2px;
}

.container {
    display: inline-block;
    border: 2px solid #F6F5F4;
}

.lineContainer {
    display: flex;
    line-height: 0;
}
