.container {
    background-color: #BEBEBE;
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    border-bottom: 2px solid #676767;
    border-right: 2px solid #676767;
    text-align: center;
}

.expandCollapseIcon {
    width: 24px;
    display: inline-block;
    padding-top: 6px;
}

.form {
    display: flex;
    justify-content: center;
    padding: 12px 12px;
    padding-bottom: 0px;
    text-align: start;
}

.rightSide {
    margin-right: 36px;
}

.formRadioElement {
    display: block;
    padding-bottom: 6px;
}

.formInputLabel {
    display: block;
    padding-bottom: 6px;
}

.formInputElement {
    width: 60px;
    float: right;
    margin-left: 6px;
}

.formError {
    border: 2px solid #dd5c5c;
}

.setButton {
    display: flex;
    justify-content: center;
}
