.container {
    width: 40px;
    height: 40px;
    padding: 3px;
    background-color: #BEBEBE;
}

.normal {
    border: 2px solid #BEBEBE;
}

.normal:hover {
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    border-bottom: 2px solid #676767;
    border-right: 2px solid #676767;
}

.pressed {
    border-top: 2px solid #676767;
    border-left: 2px solid #676767;
    border-bottom: 2px solid #E3E3E3;
    border-right: 2px solid #E3E3E3;
    background-color: #BEBEBE;
}